@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background-image: url("juhu photos/original.gif");
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #C0B283;
}

.navbar a {
  float: left;
  display: block;
  color: #F4F4F4;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 21;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #DCD0C0;
  color: black;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: #E3D4A4;
  padding: 20px;
}

.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: #F4F4F4;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #C0B283;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
  margin: 4px;
}

@media screen and (max-width:600px){
}
@media only screen and (max-device-width:1024px){
}
@media (max-width:320px){
}
@media (min-width:321px) and (max-width:768px){
}
@media (min-width:769px) and (max-width:1000px){
}
@media (min-width:1001px){
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 781px;
    position: relative;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #C0B283;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #F1DD40;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
